.category__container {
  position: relative;
  margin-top: -180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 110px;
  max-width: 1500px;
  width: 100%;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .category__container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -120px;
  }
}

@media (max-width: 500px) {
  .category__container {
    grid-template-columns: 1fr;
    margin-top: -60px;
  }
}